$primary-color: #4c6ef5;
$secondary-color: #edf2f7;
$hover-bg: #e2e8f0;
$border-color: #e2e8f0;

.accordion-container {
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 20px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}

.accordion-item {
  position: relative;
  width: 100%;
  font-size: 12px;
  margin-bottom: 4px; // Reduced spacing between items  
  
}

.accordion-button {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  padding: 3px 6px;
  width: 140px;
  text-align: left;  
  color: #2d3748;
  font-size: 12px;
  background-color: white;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $hover-bg;
  }
}

.accordion-content {
  color: #4a5568;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  padding: 6px 8px;
  font-size: 11px;
  line-height: 1.4;
  transition: all 0.3s ease;
  z-index: -1;
}

.accordion-content.open {
  display: block;
  z-index: 10;
}

.accordion-links {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 350px;
  height: 100%;
  padding: 15px;
  
}

.link-item {
  color: #000;
  padding: 2px 0;
  font-size: 14px;
  text-decoration: none;
  &:hover {
    background-color: #f5f5f5;
  }
}

.accordion-icon {
  font-size: 10px;
  transition: transform 0.3s ease;
}

.accordion-icon.open {
  transform: rotate(180deg);
}
